/* Sets colors that more closely match the "dark" theme of the preview
   release of Flash Builder "Burrito". */

@namespace "library://ns.adobe.com/flex/spark";

ActionBar #titleDisplay
{
	color: #FFFFFF;
	textShadowColor: #000000;
}

MobileApplication
{
	backgroundColor: #484848;
}

.mobileIconItemRendererMessageStyle
{
	font-weight: normal;
	color: #DDDDDD;
}

TabbedMobileApplication
{
	backgroundColor: #464646;
	skinClass: ClassReference("spark.skins.mobile.TabbedMobileApplicationSkin");
}

ViewMenuItem
{
	color: #000000;
	textShadowColor: #FFFFFF;
}

global
{
	/* Looks */
	chromeColor: #464646;
	contentBackgroundColor: #3F3F3F;
	rollOverColor: #CEDBEF;
	focusColor: #56A6FF;
	selectionColor: #B2B2B2;
	color: #FFFFFF;
	textShadowColor: #000000;
}